<table class="attr">
  <tr>
    <th>氏名</th>
    <td><%= @staff.name %></td>
  </tr>
  <tr>
    <th>カタカナ</th>
    <td><%= @staff.kana_name %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td><%= @staff.sex == 1 ? "女" : "男" %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @staff.mobile %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @staff.email %></td>
  </tr>
</table>
