<table class="attr">
  <tr>
    <%= render "shared/errors", obj: @schedule %>
  </tr>
  <tr>
    <%= link_to "出勤予定表に戻る", schedules_path %>
  </tr>
  <tr>
    <th><%= form.label :workday, "出勤可否" %></th>
    <td><%= form.text_field :workday %></td>
  </tr>
  <tr>
    <th><%= form.label :start_time, "出勤日" %></th>
    <td><%= form.date_field :start_time%></td>
  </tr>
  <tr>
    <th style="background-color: white"><span style="color: lightpink">午前</th></span>
  <tr>
    <th><%= form.label :start, "出勤時間" %></th>
    <td><%= form.time_select :start, {default: Date.today + 6.hour} %></td>
  </tr>
  <tr>
    <th><%= form.label :end, "退勤時間" %></th>
    <td><%= form.time_select :end, {default: Date.today + 12.hour} %></td>
  </tr>
  <th style="background-color: white"><span style="color: lightpink">午後</th></span>
  <tr>
    <th><%= form.label :afternoon_start, "出勤時間" %></th>
    <td><%= form.time_select :afternoon_start, {default: Date.today + 12.hour} %></td>
  </tr>
  <tr>
    <th><%= form.label :afternoon_end, "退勤時間" %></th>
    <td><%= form.time_select :afternoon_end, {default: Date.today + 22.hour} %></td>
  </tr>
</table>
