<table class="attr">
  <tr>
    <%= render "shared/errors", obj: @schedule %>
  </tr>
  <tr>
    <%= link_to "出勤予定表に戻る", schedules_path %>
  </tr>
  <tr>
    <th><%= form.label :workday, "出勤可否" %></th>
    <td><%= form.text_field :workday %></td>
  </tr>
  <tr>
    <th><%= form.label :start_time, "出勤日" %></th>
    <td><%= form.date_field :start_time%></td>
  </tr>
  <tr>
  <tr>
    <th><%= form.label :start, "午前出勤時間" %></th>
    <td><%= form.time_select :start %></td>
  </tr>
  <tr>
    <th><%= form.label :end, "午前退勤時間" %></th>
    <td><%= form.time_select :end %></td>
  </tr>
  <tr>
    <th><%= form.label :afternoon_start, "午後出勤時間" %></th>
    <td><%= form.time_select :afternoon_start %></td>
  </tr>
  <tr>
    <th><%= form.label :afternoon_end, "午後退勤時間" %></th>
    <td><%= form.time_select :afternoon_end %></td>
  </tr>
</table>
