<% @page_title = "勤務完了の確認" %>
<h1 class="title_name"><%= @page_title %></h1>
<table class="attr">
  <thead>
    <div class="name_search">
      <tr>
        <td>氏名</td>
        <td>出勤日</td>
        <td>出勤先</td>
        <th>午前</th>
        <td>出勤時間</td>
        <td>退勤時間</td>
        <th>午後</th>
        <td>出勤時間</td>
        <td>退勤時間</td>
        <td>金額</td>
      </tr>
    </div>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
    <% if Date.today.months_ago(2).beginning_of_month..Date.today.end_of_month %>
    <tr>
      <td><%= schedule.human_resource.full_name %></td>
      <td><%= link_to schedule.start_time.strftime("%m/%d"), user_month_total_expenses_schedule_path(schedule), data: {"turbolinks" => false} %></td>
      <td><%= link_to schedule.ryokan.full_name, ryokan_month_total_expenses_schedule_path(schedule), data: {"turbolinks" => false} %></td>
      <td></td>
      <td><%= schedule.start.strftime("%H:%M") %></td>
      <td><%= schedule.end.strftime("%H:%M") %></td>
      <td></td>
      <td><%= schedule.afternoon_start.strftime("%H:%M") %></td>
      <td><%= schedule.afternoon_end.strftime("%H:%M") %></td>
      <td class="price"><%= schedule.profit %></td>
    </tr>
    <% end %>
    <% end %>
    <tr>
      <td><button type="button", id="total">合計</button></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="sum_price"></td>
    </tr>
  </tbody>
</table>
<%= link_to "戻る", schedules_path %>

