<% @page_title = "非承認確認" %>
<h1 class="title_name"><%= @page_title %></h1>

<%= form_for @schedule, url: non_approval_schedule_path do |form| %>
<table class="attr">
  <tr>
    <%= render "shared/errors", obj: @schedule %>
  </tr>
  <tr>
    <th>名前</th>
    <td><%= @schedule.human_resource.full_name %></td>
  </tr>
  <tr>
    <th>出勤日</th>
    <td><%= @schedule.start_time.strftime("%m/%d") %></td>
  </tr>
  <tr>
    <th><%= form.label :start, "出勤時間" %></th>
    <td><%= form.time_field :start %></td>
  </tr>
  <tr>
    <th><%= form.label :end, "退勤時間" %></th>
    <td><%= form.time_field :end %></td>
</table>
<%= form.submit "出勤時間を非承認する" %>
<% end %>
