<%= image_tag "logo.jpg", size: "350x250", alt: "PutipuraHaken" %>
<aside id= "sidebar">
  <%= render "shared/login_form" unless current_member || current_ryokan %>
</aside>

<% if current_member %>
<div class="account-menu">
  <%= menu_link_to current_member.full_name + "さん", :account  %>
  <%= menu_link_to "ログアウト", :session,
      method: :delete, data: { confirm: "ログアウトしますか？"} %>
</div>
<% end %>

<% if current_ryokan %>
<div class="account-menu">
  <tr>
    <td><%= current_ryokan.full_name + "さん" %></td><br>
    <td><%= menu_link_to "人材のスケジュールを確認", ryokans_path %></td>
    <td><%= menu_link_to "アカウントの確認", ryokan_account_path %></td>
    <td><%= menu_link_to "ログアウト", :session,
            method: :delete, data: { confirm: "ログアウトしますか？"} %></td>
    </tr>
</div>
<% end %>
    <%=
      if controller.kind_of?(Admin::Base)
      render "shared/admin_menubar"
      else
      render "shared/menubar"
      end
      %>
