<%= render "shared/login_form" unless current_member || current_ryokan %>

<h2>NEWS</h2>
<%
  articles = Article.visible.order(released_at: :desc).limit(5)
  articles = articles.open_to_the_public unless current_member || current_ryokan
  %>
<ul>
  <% articles.each do |article| %>
  <li><%= link_to article.title, article %></li>
  <% end %>
</ul>

<h2>BLOG</h2>
<% if entries = Entry.readable_for(current_member).order(posted_at: :desc).limit(5) %>
<ul>
  <% entries.each do |entry| %>
  <li>
    <%= link_to entry.title, entry %>
    by <%= link_to entry.author.name, [entry.author, :entries ]%>
  </li>
  <% else %>
  <% entries = Entry.readable_for(current_ryokan).order(posted_at: :desc).limit(5) %>
  <li>
    <%= link_to entry.title, entry %>
    by <%= link_to entry.ryokan_author.name, [entry.ryokan_author, :entries ]%>
  </li>
  <% end %>
<% end %>
</ul>
