<% @page_title = "出勤交渉中の確認" %>
<h1 class="title_name"><%= @page_title %></h1>
<table class="attr">
  <thead>
    <tr>
      <td>氏名</td>
      <td>出勤日</td>
      <td>出勤時間</td>
      <td>退勤時間</td>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
    <% if schedule.status == true %>
    <tr>
      <td><%= schedule.human_resource.full_name %></td>
      <td><%= schedule.start_time.strftime("%m/%d") %></td>
      <td><%= schedule.start.strftime("%H:%M") %></td>
      <td><%= schedule.end.strftime("%H:%M") %></td>
    </tr>
    <tr>
      <td><%= link_to "取り消し", %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<%= link_to "戻る", :ryokans %>
