<% @page_title = "スケジュールの確認" %>
<h1><%= @page_title %></h1>

<%= link_to "戻る", ryokans_path %>

<%= form_for @schedule do |form| %>
<%= render "form"  %>
<div><%= form.submit value="依頼する" %></div>
<% end %>
