<% @page_title = "出勤予定カレンダー" %>
<h1 class="title_name"><%= @page_title %></h1>

<%= month_calendar events: @schedules do |date, schedules| %>
  <%= date %>

  <% schedules.each do |schedule| %>
  <% if schedule.status == true %>
    <div class="calendar">
      <%= schedule.workday %>：
      <%= schedule.human_resource.full_name %>
    </div>
  <% end %>
  <% end %>
<% end %>

<% @page_title = "出勤予定の一覧" %>
<h1 class="title_name"><%= @page_title %></h1>
<table class='attr'>
  <thead>
    <div class="name_search">
    <%= search_form_for @q, url: search_ryokans_path do |f| %>
      <%= f.label :human_resource_full_name_or_human_resource_kana_name, '名前で検索する' %>
      <%= f.search_field :human_resource_full_name_or_human_resource_kana_name_cont %>
      <%= f.submit "検索" %>
    </div>
    <div class="day_search">
      <%= f.label :start_time_cont, '出勤日で検索する' %>
      <%= f.search_field :start_time_cont %>
      <%= f.submit "検索" %>
    <% end %>
    </div><br>
    <div class='schedule'>
      <tr>
        <td>氏名</td>
        <td>出勤可否</td>
        <td>出勤日</td>
        <th>午前</th>
        <td>出勤時間</td>
        <td>退勤時間</td>
        <th>午後</th>
        <td>出勤時間</td>
        <td>退勤時間</td>
        <td>依頼可否</td>
        <td>勤務時間交渉</td>
      </tr>
    </div>
  </thead>
  <tbody>
    <div class='schedule_list'>
      <% @schedules.each do |schedule| %>
      <% if schedule.status == true && schedule.approval_status == false %>
      <tr>
        <td><%= schedule.human_resource.full_name %></td>
        <td><%= schedule.workday %></td>
        <td><%= schedule.start_time.strftime("%m/%d") %></td>
        <td></td>
        <td><%= schedule.start.strftime("%H:%M") %></td>
        <td><%= schedule.end.strftime("%H:%M") %></td>
        <td></td>
        <td><%= schedule.afternoon_start.strftime("%H:%M") %></td>
        <td><%= schedule.afternoon_end.strftime("%H:%M") %></td>
        <td><%= link_to "依頼", confirmation_schedule_path(schedule) %></td>
        <td><%= link_to "交渉", negotiation_schedule_path(schedule) %></td>
      </tr>
      <% end %>
      <% end %>
    </div>
  </tbody>
</table>
<%= paginate @schedules %>
<%= link_to "出勤依頼の一覧", request_confirmation_ryokans_path %><br>
<%= link_to "勤務時間交渉中の一覧", demand_confirmation_ryokans_path %><br>
<%= link_to "勤務完了の一覧", work_complete_ryokans_path, data: {"turbolinks" => false} %>

