<% @page_title = "個人経費の合計" %>
<h1 class="title_name"><%= @page_title %></h1>
<table class="attr">
  <thead>
    <tr>
      <td>氏名</td>
      <td>出勤日</td>
      <td>システム費</td>
      <td>人件費</td>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
    <% if Date.today.months_ago(2).beginning_of_month..Date.today.end_of_month %>
    <tr>
      <td><%= schedule.human_resource.full_name %></td>
      <td><%= schedule.start_time.strftime("%m/%d") %></td>
      <td class="system_price"><%= schedule.system_cost %></td>
      <td class="price"><%= schedule.ryokan_amount %></td>
    </tr>
    <% end %>
    <% end %>
    <tr>
      <td><button type="button", id="total">合計</button></td>
      <td></td>
      <td ><p class="system_sum_price"></p></td>
      <td ><p class="sum_price"></p></td>
    </tr>
  </tbody>
</table>
<%= link_to "戻る", work_complete_ryokans_path, data: {"turbolinks" => false} %>
