<% @page_title = "出勤依頼の確認" %>
<h1 class="title_name"><%= @page_title %></h1>
<table class="attr">
  <thead>
    <tr>
      <td>氏名</td>
      <td>出勤日</td>
      <td>出勤時間</td>
      <td>退勤時間</td>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
    <tr>
      <td><%= schedule.human_resource.full_name %></td>
      <td><%= schedule.start_time.strftime("%m/%d") %></td>
      <td><%= schedule.start.strftime("%H:%M") %></td>
      <td><%= schedule.end.strftime("%H:%M") %></td>
      <% if schedule.start_time > Date.today.since(3.days) %>
         <td><%= link_to "取り消し", request_delete_ryokan_path(schedule), method: :delete, data: { confirm: "本当に取り消しますか？" } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "戻る", :ryokans %>
