<% @page_title = "人材派遣の一覧" %>
<h1><% @page_title %></h1>

<%= form_tag :search_members, method: :get, class: "search" do %>
  <%= text_field_tag "q", params[:q] %>
  <%= submit_tag "検索" %>
<% end %>

<% if @members.present? %>
<table class="list">
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>氏名</th>
      <th>カタカナ</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
    <tr>
      <td style="text-algin: right"><%= member.name %></td>
      <td><%= link_to member.full_name, member  %></td>
      <td><%= member.kana_name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @members %>
<% else %>
<p>人材登録の情報がありません。</p>
<% end %>
